<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    
    {{ with .Site.Params.favicon }}
    <link rel="icon" href="{{ . }}">
    {{ end }}
    
    <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
    
    {{ if isset .Params "tags" }}
    <meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
    {{ end }}
    
    {{ partial "style.html" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <meta charset="utf-8">
</head>
<body>
    <nav id="top-nav">
        <div class="nav-container">
            <a class="nav-title" href="{{ absLangURL "/" }}">{{ .Site.Title }}</a>
            <ul class="nav-menu">
                <li><a href="{{ absLangURL "/" }}">博客</a></li>
                <li><a href="{{ absLangURL "/weekly" }}">周记</a></li>
                <li><a href="{{ absLangURL "/about" }}">关于</a></li>
            </ul>
        </div>
    </nav>
<main>
    {{ block "main" . }}{{ end }}
    {{ if .Param "nextprev" }}{{ partial "nextprev.html" . }}{{ end }}
</main>
</body>
</html>
